@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: roboto, sans-serif;
}

.header-hero-wrapper {
    background-color: #1F2937;
    
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
}

.header-logo {
    height: 50px;
    width: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
}


.cs-tech-card {
    align-self: center;
    margin-right: 20px;
    
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    display: flex;
}

.hero-text {
    color: #E5E7EB;
}

.sign-up-button {
    background-color: blue;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}


/*section two*/
.card-wrapper {
    background-color: white;
    margin: 100px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: -50px;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}

.r {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 8px;
    border: solid #3882f6;
    }

.card-text {
    text-align: center;
    margin-top: -15px;
}


/**/

.quote-wrapper {
    background-color: #E5E7EB;
    
}
    
.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    color: #1F2937;
}

.quote-author {
    font-weight: 900;
    align-self: flex-end;
    font-size: 25px;

}

/*sec 3*/

.action-wrapper {
    margin: 100px;

}

.action-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 50px;
}

h3 {
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.action-text {
   color: #E5E7EB;
   padding-left: 0px;
   margin: 0;

}

.submit-three {
  border: 2px solid #E5E7EB; 
  color: white;
  background-color: #3882f6
}



  .footer-wrapper {
      background-color: #1F2937;
}


.footer {
    color: white;
    text-align: center;
    
  }
      









    







