@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: roboto, sans-serif;
}

.header-hero-wrapper {
    background-color: #1F2937;
    
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
}

.header-logo {
    height: 50px;
    width: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
}


.cs-tech-card {
    align-self: center;
    margin-right: 20px;
    
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    display: flex;
}

.hero-text {
    color: #E5E7EB;
}

.sign-up-button {
    background-color: blue;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}



.sec-two {
    background-color: white;
}

.random {
    font-size: 36px;
    color: #1F2937;
    text-align: center;


}





    







